<!DOCTYPE html>
<html ng-app="bus">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>[[ title = 'Bus Tracker' ]]</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
    </head>
    <body>

        <div class="container">
            <div class="row" ng-controller="BusStopController">
                <h1>[[stopModel.stopName]] - [[stopModel.stopCode]]</h1>
            </div>

            <div id="stop-container" class="row" ng-controller="BusServiceController">
                <div class="span[[ spanWidth ]]" ng-repeat="bus in stopModel.buses">
                    <h2>Service [[ bus.service_name ]]</h2><table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Destination</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="service in bus.times">
                            <td>[[ service.mins ]]</td>
                            <td>[[ service.destination ]]</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>

            <hr>

            <footer>
                <p>&copy; Scott Barr {{ year }}</p>
            </footer>

        </div> <!-- /container -->
        <script type='text/javascript'>
            STOP_CODE = {{ stop }};
        </script>
        <script src="{{ url_for('static', filename='components/angular/angular.min.js') }}"></script>
        <script src="{{ url_for('static', filename='components/app.js') }}"></script>
        <script src="{{ url_for('static', filename='components/controllers.js') }}"></script>
    </body>
</html>
