<!DOCTYPE html>
<html ng-app="bus">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>[[ title = 'Bus Tracker' ]]</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
    </head>
    <body ng-controller="BusStopController">

        <div class="container">
            <div id="stop-info" class="row">
                <div class="span12">
                    <h1>[[stopName]] - [[stopCode]]</h1>
                </div>
            </div>

            <div id="stop-container" class="row">
            </div>

            <hr>

            <footer>
                <p>&copy; Scott Barr {{ year }}</p>
            </footer>

        </div> <!-- /container -->
    <script src="{{ url_for('static', filename='components/angular/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='components/tracker.js') }}"></script>
    </body>
</html>
